.vscode/settings.json
pgdata/*
!pgdata/**/.gitkeep
.docker/webserver/volumes/consume/*
!.docker/webserver/volumes/consume/.gitkeep
.docker/webserver/volumes/data/*
!.docker/webserver/volumes/data/.gitkeep
.docker/webserver/volumes/export/*
!.docker/webserver/volumes/export/.gitkeep
.docker/webserver/volumes/media/*
!.docker/webserver/volumes/media/.gitkeep
.docker/qdrant/storage
!.docker/qdrant/volumes/storage/.gitkeep